@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"]{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	text-align: right;
}

.signature{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}